@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

@layer components {
    .flex-center {
        @apply flex flex-col justify-center items-center;
    }
}



@theme{
    --color-secundary:  #00FFCC;
    --color-tertiary: #D9D9D9;
    --font-dots:"Zen Dots", sans-serif;
}
